html {
	overflow: hidden;
}

.container-stakeholder {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  justify-content: center;
}
.header{
  background:#006d2c;
  width:100%;
  color: white;
  text-align: left;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
}
button p{
  float: right;
  margin: 0;
  padding-left: 10px;
}
/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  bottom: 0;
  width: 100%;
	font-size: 0;
}
@media(max-width:50em){ /* Breakpoint only for mobile */
  .navbar1 {
      color: #186c3f;
      overflow: hidden;
      height: 60px;
      width: 100%;
      bottom: 0;
      position: fixed;
      z-index: 5;
    }
  button p{
      visibility: hidden;
  }
  .navbar1 button {
      background-color: #006d2c;
      display: block;
      color: #f2f2f2;
      border: solid #f2f2f2 1px;
      width: 20%;
      text-align: center;
      float: left;
      margin-top: -5px;
    }
  .navbar1 button.active {
      background-color: #4CAF50;
      color: white;
    }
		/*Tambopata title  */
  .navbar1 span{
    display: none;
  }
	/* UW logo */
  .navbar1 a{
    display:none;
  }

}
/* Style the links inside the navigation bar */

.navbar1 button {
  background-color: #006d2c;
  border-style: none;
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  font-size: 20px;
}
.navbar1 a{
  float: right;
  padding: 5px 20px 0px 0px;
}

/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #4CAF50;
  color: white;
}


#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#overlay-div {
  position: auto;
  width: 50%;
  height: 75%;
  background-color: white;
  transform: translate(50%,20%);
  -ms-transform: translate(50%,50%);
  overflow-y: auto;
}

#navbar2 {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;

	background-color: #006d2c;
}

#navbar2 button {
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
}

#overlay-buttons-close {
	float: right;
}

#assign-overlay-text {
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#tambopata-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#glossary-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#events-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

h2 {
    text-align: center;
}

.img-bground {
  height: auto;
  min-width: 100%;
  min-height: 70%;
}
