html {
	overflow: hidden;
}

.container-stakeholder {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  justify-content: center;
}
.header{
  background:#006d2c;
  width:100%;
  color: white;
  text-align: left;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
}
button p{
  float: right;
  margin: 0;
  padding-left: 10px;
}
/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  bottom: 0;
  width: 100%;
	font-size: 0;
}

@media(max-width:50em){ /* Breakpoint only for mobile */
  .navbar1 {
      color: #186c3f;
      overflow: hidden;
      height: 60px;
      width: 100%;
      bottom: 0;
      position: fixed;
      z-index: 5;
    }
  button p{
      visibility: hidden;
  }
  .navbar1 button {
      background-color: #006d2c;
      display: block;
      color: #f2f2f2;
      border: solid #f2f2f2 1px;
      width: 20%;
      text-align: center;
      float: left;
      margin-top: -5px;
    }
  .navbar1 button.active {
      background-color: #4CAF50;
      color: white;
    }
		/*Tambopata title  */
  .navbar1 span{
    display: none;
  }
	/* UW logo */
  .navbar1 a{
    display:none;
  }
  .overlay {
    visibility: hidden;
    display:none;
   }

}
/* Style the links inside the navigation bar */

.navbar1 button {
  background-color: #006d2c;
  border-style: none;
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  font-size: 20px;
}
.navbar1 a{
  float: right;
  padding: 5px 20px 0px 0px;
}

/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #4CAF50;
  color: white;
}

#overlay-img {
  z-index: 2;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/river.png');
  background-size: cover;
  background-position: center;
  opacity: 0.80;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#overlay-div {
  position: auto;
  width: 50%;
  height: 75%;
  background-color: white;
  transform: translate(50%,20%);
  -ms-transform: translate(50%,50%);
  overflow-y: auto;
  opacity: 1;
}

#navbar2 {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	font-size: 0px;
	background-color: #006d2c;
	padding-left: 3px;
}

#navbar2 button {
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	border-style: none;
	margin-left: 0px;
	font-size: 18px;
}

#navbar2 button:hover {
  background-color: white;
  color: black;
}

#tambopata-button {
	background-color: #05f765;
	color: black;
}

#assign-button,#glossary-button,#events-button {
	background-color: #00a642;
	color: white;
}

#overlay-buttons-close {
	float: right;
	padding-left: 5px;
	background-color: #4CAF50;
}

#assign-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#tambopata-overlay-text {
  display: block;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#glossary-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#events-overlay-text {
  display: none;
  position: auto;
  top: 50%;
  left: 10%;
  font-size: 14px;
  color: black;
  padding: 10px;
}

#locator {
	height: 500px;
	width: 100%;
}

h2 {
    text-align: center;
}

.heading {
	color: #006d2c;
	font-size: 1.755em;
	font-weight: 600;
	padding: 20px 0 20px 0;
	background-color: #e9ecef;
}

.img-bground {
  min-width: 100%;
  min-height: 100%;
  border-radius: 20%;
  object-fit: fill;
}
.stakeholderNames{
  color: #006d2c;
  font-size: 1em;
  font-weight: 600;
  word-wrap: break-word;
}
.gridItem{
  margin-top: 60px;
}
.overlay{
  text-align: center;
  width: 92%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4.1%;
  right: 0;
  transition: .2s ease;
  opacity: 0;
  background-color: rgba(51, 196, 109, 0.4);
  border-radius: 20%;
  overflow:hidden;
}
.overlay:hover {
  opacity: 1;
}
