/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}
.header{
    background:#006d2c;
    width:100%;
    color: white;
    text-align: left;
    font-size: 35px;
    padding: 0px 20px 0px 20px;
  }
button p{
    float: right;
    margin: 0;
    padding-left: 10px;
}
.Off{
    font-weight: 800;
    color: #186c3f
}
.On{
    font-weight: 800;
    color: red
}
#compareMaps{
    font-size: 1.25em;
    font-weight: 600;
    color: #186c3f
}
.parkLabel{
    font-size: 2.5em;
    font-weight: 600;
}
.swipeMe{
    position: absolute;
    top: 50%;
    width: 100%;
}
.navButton{
    height:70px;
  }
.leaflet-tooltip {
    position: absolute;
    padding: 2px !important;
    background-color: rgba(0,0,0,0) !important;
    border: 2px rgba(0,0,0,0) !important;
    border-radius: 0px !important;
    color: #186c3f !important;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -1px white !important;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 0x 0px rgba(0,0,0,0) !important;   
}
.leaflet-popup-tip-container {
    display: none !important;
}
.leaflet-sbs-divider{
    background-color: #753a10 !important;
}
.leaflet-sbs-range::-webkit-slider-thumb{
    height: 75px !important;
    width: 25px !important;
    border-radius: 30% !important;
    background-color: #D2B48C !important;
    border: solid #753a10 3px !important;
}
#baseMap{
    font-size: 1.25em;
    margin-left: 5px;
    font-weight: 500;
    color: #186c3f
}
@media(max-width:50em){ /* Breakpoint only for mobile */
    .navbar1 {
        color: #186c3f;
        overflow: hidden;
        height: 60px;
        width: 100%;
        bottom: 0;
        position: fixed;
      }
    button p{
        visibility: hidden;
        padding-left: 30px;
    }
    .navbar1 button {
        background-color: #006d2c;
        display: block;
        color: #f2f2f2;
        border: solid #f2f2f2 1px;
        width: 20%;
        text-align: center;
        float: left;
      }
    .navbar1 button.active {
        background-color: #4CAF50;
        color: white;
      }
      .active, button:hover {
        background-color: #e7efea ;
        color: #186c3f;
        border: solid #186c3f 2px;
        box-shadow: 0 8px 6px -6px #186c3f;
      }
      .navbar1 span{
        display: none;
      }
        /* UW logo */
      .navbar1 a{
        display:none;
      }
  }
 
/* Style the links inside the navigation bar */
.navbar1 button {
  background-color: #006d2c;
  border-style: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
}
/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #4CAF50;
  color: white;
}
html, body, #map {
    padding-bottom: 33px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#collapseLegend{
    position: absolute;
    z-index: 99999;
    background-color: #e7efea;
    border: solid #186c3f 1px;
    height: 100px;
    width: auto;
    bottom: 0px;
}
.content {
    position: relative;
  }
.baseMap{
    margin-left: 10%;
    margin-top: 2%;
}
.roads{
    margin-left: 10%;
    margin-top: 3%;
}
.compare{
    margin-left: 1%;
    margin-top: 3%;
}

.range-slider{
    margin-top: 15px;
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    background-color: #e7efea;
    border: solid #186c3f 1px;
    border-radius: 25px;
    outline: none;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #186c3f;
    border: solid #e7efea 1px;
    cursor: pointer;
}
.opacityTitle{
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #186c3f;
}
.opacityTxt{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #186c3f;
}
.proposal-container{
    width: 50vw;
    top: -15mm;
    left: 50%;
    background-color: #186c3f;
}
.proposalM{
    width: 20%;
    height: 55px;
    float: left;
    text-align: center;
    border: solid #186c3f 0.5px;
    color: #186c3f;
    background-color: #e7efea;;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.proposal{
    width: auto;
    height: 35px;
    float: left;
    text-align: center;
    border-style: none;
    border: solid #186c3f 2px;
    color: #e7efea;
    background-color: #186c3f;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.active, .proposal:hover {
    background-color: #e7efea ;
    color: #186c3f;
    border: solid #186c3f 2px;
  }
.row{
    background-color: #e7efea;
}
.legendFrame{
    padding: 10px 10px 10px 10px;
    width: 300px;
    background-color: #e7efea;
    opacity: 0.9;
    border: solid #186c3f 2px;
    padding: 5px;
}
.mLegend{
    height: 270px;
    width: 100%;
    max-width: 350px;
    right: 10px;
    bottom: 30px;
    background-color: #e7efea;
    border: solid #186c3f 1px;
    z-index: 9999999;
}
#accordion{
    overflow-y: scroll;
    max-width: 350px;
    overflow-x: hidden;
}
.mLegendTxt{
    transform: translate(5%, -125%);
    font-size: 1em;
    margin-left: 10px;
    color: #186c3f;
    font-weight: 800;

}
.card-body {
    padding: 0.7rem !important;
}
.card-header{
    background-color: #e7efea;
    height: 25px;
}
.mLegendItem{
    height: 15px;
    width: 25px;
    margin-left: 1px;
    border: 1px solid black;
    transform: translate(-50%,-50%);
}
.legendtxt{
    position: absolute;
    display: inline-block;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 1em;
}
.legend{
    height: 2vh;
    width: 2vw;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
}
.legendHeader{
    margin-bottom: 2px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.mSlider{
    transform: rotate(-90deg);
    background-color: #e7efea;
    border-radius: 30px;
    z-index: 1;
    bottom: 100px;
    right: -110px;
    width: 250px;
    padding: 5px;
}
.opacityTxtM{
    transform: rotate(90deg);
    position: relative;
    display: inline-block;
    top: 50%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #186c3f;
}
.range-sliderM{
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    background-color: #e7efea;
    border: solid #186c3f 1px;
    border-radius: 25px;
    outline: none;
}
.range-sliderM::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #186c3f;
    border: solid #e7efea 1px;
    cursor: pointer;
}
#bufferZone{
    background-color: #527a2b;
}
#communityReserve{
    background-color: #b29d77;
}
#strictProtection{
    background-color: #f5aa1c;
}
#wildlands{
    background-color: #005c50;
}
#nativeCommunities{
    background-color: #c4cc5c;
}
#Tourism{
    background-color: #35a649;
}
#forestUse{
    background-color: #94c660;
}
#Restoration{
    background-color: #d87bb1;
}
#directUse{
    background-color: #125e1d
}
#nationalPark{
background-color: forestgreen;
background: repeating-linear-gradient(
  135deg,
  forestgreen,
  forestgreen 3px,
  darkgreen 6px
);
/* other way to add texture in legend: background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png"); */
}
.fa-list-ul:before {
    content: "\f099";
}
.dropup {
    position: relative;
    display: inline-block;
}

/* Dropup button */
.dropbtn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

/* Dropup menu (Hidden by Default) */
.dropup-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 300px;
    box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

/* Links inside the dropup menu */
.dropup-menu a {
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-menu {
    display: block;
}

/* Dropup menu Header */
.dropup-menu .dropup-header {
    color: #777;
    font-size: .8rem;
    padding: 8px 16px;
}