/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar1 button {
  background-color: #006d2c;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #4CAF50;
  color: white;
}


html, body, #map {
    padding-bottom: 33px;
    height: 100%;
    width: 100%;
}
.baseMap{
    margin-left: 10%;
    margin-top: 2%;
}
.roads{
    margin-left: 10%;
    margin-top: 3%;
}

.range-slider{
    margin-top: 15px;
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    background-color: #e7efea;
    border: solid #186c3f 1px;
    border-radius: 25px;
    outline: none;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #186c3f;
    border: solid #e7efea 1px;
    cursor: pointer;
}

.opacityTxt{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #186c3f;
}
.proposal-container{
    width: 50vw;
    top: -15mm;
    left: 50%;
    background-color: #186c3f;
}
.proposal{
    width: auto;
    height: 35px;
    float: left;
    text-align: center;
    border: solid #e7efea 2px;
    color: #e7efea;
    background-color: #186c3f;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 800;
}
.active, button:hover {
    background-color: #e7efea ;
    color: #186c3f;
    border: solid #186c3f 2px;
  }
.row{
    background-color: #e7efea;
}
.legendFrame{
    height: 465px;
    width: 20vw;
    background-color: #e7efea;
    border: solid #186c3f 2px;
    padding: 5px;
}

.legendtxt{
    position: absolute;
    display: inline-block;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 1em;
}
.legend{
    height: 2vh;
    width: 2vw;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid black;
}
.legendHeader{
    margin-bottom: 2px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
#bufferZone{
    background-color: #527a2b;
}
#communityReserve{
    background-color: #b29d77;
}
#strictProtection{
    background-color: #f5aa1c;
}
#wildlands{
    background-color: #005c50;
}
#nativeCommunities{
    background-color: #c4cc5c;
}
#Tourism{
    background-color: #35a649;
}
#forestUse{
    background-color: #94c660;
}
#Restoration{
    background-color: #d87bb1;
}
#directUse{
    background-color: #125e1d
}
#nationalPark{
background-color: forestgreen;
background: repeating-linear-gradient(
  135deg,
  forestgreen,
  forestgreen 3px,
  darkgreen 6px
);
/* other way to add texture in legend: background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png"); */
}
