.container-fluid {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: inherit;
  justify-content: center;
  padding-left: 100px;
}

.header{
  background:#006d2c;
  width:100%;
  color: white;
  text-align: left;
  font-size: 35px;
  padding: 0px 20px 0px 20px;
}
button p{
  float: right;
  margin: 0;
  padding-left: 10px;
}
/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  /* overflow: hidden; */
  bottom: 0;
  width: 100%;
}
@media(max-width:50em){ /* Breakpoint only for mobile */
  .navbar1 {
      color: #186c3f;
      overflow: hidden;
      height: 60px;
      width: 100%;
      bottom: 0;
      position: fixed;
      z-index: 5;
    }
  button p{
      visibility: hidden;
  }
  .navbar1 button {
      background-color: #006d2c;
      display: block;
      color: #f2f2f2;
      border: solid #f2f2f2 1px;
      width: 20%;
      text-align: center;
      float: left;
      margin-top: -5px;
    }
  .nabvar1 button.active {
      background-color: #4CAF50;
      color: white;
    }
}
@media(max-width:80em){
  .navbar1 span{
    display: none;
  }
  .navbar1 a{
    display:none;
  }
}
/* Style the links inside the navigation bar */

.navbar1 button {
  background-color: #006d2c;
  border-style: none;
  /* float: left; */
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 15px 20px 15px;
  text-decoration: none;
  font-size: 20px;
}
.navbar1 a{
  float: right;
  padding: 5px 20px 0px 0px;
}

/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #4CAF50;
  color: white;
}


.arimo{
    font-family: 'Arimo';
}


.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#basic-desc {
  background-color: #c7e9c0;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer; /*affordance for desktop*/
  color: blue;
}

/* The actual popup (appears on top) */
.popup .popupText {
  visibility: hidden;
  width: 360px;
  background-color:#969696;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -150px;
}

/* Popup arrow under pop-up box*/
.popup .popupText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.iframe-container{
  position: relative;
  width:100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
