/* Place the navbar at the top of the page, and make it stick */
.navbar1 {
  background-color: #006d2c;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar1 button {
  background-color: #006d2c;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar1 button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar1 button.active {
  background-color: #4CAF50;
  color: white;
}

.bigText {
    font-size: 20px;
}

/* Image Swipes */
.ba-slider {
    position: absolute;
    overflow: hidden;
}

.ba-slider img {
    width: 800px;
	height: 400px;
    display:block;
	overflow: hidden;
}

.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content:'\21d4';
    color:black;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;

    background: #006d2c; /* @orange */
    border:1px solid #006d2c; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3),
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #006d2c; /* lighten(@orange, 20%)*/
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}
